<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>Bet Info</title>
    <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/body_layout') %>
  <div class="betstats" style="text-align: center;">
    <% if (betCategory == "none") { %> 
      <div style="font-size: 25px; margin-top: 10px;" >No Bet Has Been Made</div>
    <% } %> 
    <table class="center bet-info-table" style="margin-top: 20px;">
        <tr class="table-head">
            <th>Driver Name</th>
            <th>% of Bets</th>
            <th>Bet Amount</th>
            <th>% of Pool</th>
        </tr>
        <% if (betCategory == "drivers") { %> 
          <% for (let key in drivers) { %> 
            <tr class="table-row">
                <td><%- key %> </td>
                <td><meter class="percent-bar" min="0" max="1" value='<%= (drivers[key]/totalBets)%>'> <%- ((drivers[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((drivers[key]/totalBets) * 100).toFixed(2) %>% </td>
                <td>$<%- amount[key] %> </td>
                <td><meter class="percent-bar" min="0" max="1" value='<%= (amount[key]/betAmount)%>'> <%- ((amount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((amount[key]/betAmount) * 100).toFixed(2) %> % </td>
            </tr>
          <% } %> 
        <% } else if (betCategory == "yesno") { %>
          <% for (let key in yesno) { %> 
            <tr class="table-row">
              <td><%- key %> </td>
              <td><meter class="percent-bar" min="0" max="1" value='<%= (yesno[key]/totalBets)%>'> <%- ((yesno[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((yesno[key]/totalBets) * 100).toFixed(2) %>% </td>
              <td>$<%- yesnoAmount[key] %> </td>
              <td><meter class="percent-bar" min="0" max="1" value='<%= (yesnoAmount[key]/betAmount)%>'> <%- ((yesnoAmount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((yesnoAmount[key]/betAmount) * 100).toFixed(2) %> % </td>
            </tr>
          <% } %> 
        <% } else if (betCategory == "pitstops") { %>
          <% for (let key in pitstops) { %> 
          <tr class="table-row">
            <td><%- key %> </td>
            <td><meter class="percent-bar" min="0" max="1" value='<%= (pitstops[key]/totalBets)%>'> <%- ((pitstops[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((pitstops[key]/totalBets) * 100).toFixed(2) %>% </td>
            <td>$<%- pitstops[key] %> </td>
            <td><meter class="percent-bar" min="0" max="1" value='<%= (pitstopsAmount[key]/betAmount)%>'> <%- ((pitstopsAmount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((pitstopsAmount[key]/betAmount) * 100).toFixed(2) %> % </td>
          </tr>
          <% } %> 
        <% } %>  
    </table>
  </div>
</body>
</html>