<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>Bet Info</title>
    <script>
      var keys = {37: 1, 38: 1, 39: 1, 40: 1};

      function preventDefault(e) {
          e.preventDefault();
      }

      function preventDefaultForScrollKeys(e) {
          if (keys[e.keyCode]) {
          preventDefault(e);
          return false;
          }
      }

      // modern Chrome requires { passive: false } when adding event
      var supportsPassive = false;
      try {
          window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
          get: function () { supportsPassive = true; } 
          }));
      } catch(e) {}

      var wheelOpt = supportsPassive ? { passive: false } : false;
      var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

      // call this to Disable
      function disableScroll() {
          window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
          window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
          window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
          window.addEventListener('keydown', preventDefaultForScrollKeys, false);
      }

      // call this to Enable
      function enableScroll() {
          window.removeEventListener('DOMMouseScroll', preventDefault, false);
          window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
          window.removeEventListener('touchmove', preventDefault, wheelOpt);
          window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
      }

      var menuVis = false;

      function displayMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'block'
        menuVis = true;
        disableScroll();
      }

      function exitMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'none'
        menuVis = false;
        enableScroll();
      }

      addEventListener("click", (e) => {
        let target = e.target
        if (menuVis && target.id == 'side-menu-underlay'){
          let overlay = document.getElementById('side-menu-underlay')
          overlay.style.display = 'none'
          menuVis = false;
          enableScroll();
        }
      })
    </script>
</head>
<body>
  <div id="side-menu-underlay">
    <div class="side-menu">
      <div class="menu-bar">
        <h1 class="menu-logo">Race Gambit</h1>
        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #ffadad" onclick="exitMenu();"></i>
      </div>
      <% if (!isAuth) { %>
        <form action="/login" class="form-width">
          <button type="submit" class="sign-in side-menu-button">SIGN IN</button>
        </form>
        <form action="/registration" class="form-width">
          <button type="submit" class="register side-menu-button">REGISTER</button>
        </form>
      <% } else if (isAuth) { %>
        <div class="menu-items">
          <div class="menu-item" onclick="location.href='/bets/Placement';">
            <p href="">PLACEMENT</p>
            <i class="fa-solid fa-flag-checkered"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Qualification';">
            <p href="">QUALIFICATION</p>
            <i class="fa-solid fa-stopwatch"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/5050';">
            <p href="">YES/NO</p>
            <i class="fa-solid fa-dice"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Pitstops';">
            <p href="">PIT STOPS</p>
            <i class="fa-solid fa-gears"></i>
          </div>
          <div class="menu-item" onclick="location.href='/leagues';">
            <p href="">MY LEAGUES</p>
            <i class="fa-solid fa-user-group"></i>
          </div>
        </div>
        <form action="/logout" class="form-width" method="post">
          <button type="submit" class="register side-menu-button">SIGN OUT</button>
        </form>
      <% } %>
    </div>
  </div>
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
        <div class="right-header">
          <form action="/login">
            <button class="sign-in header-btn" type="submit">SIGN IN</button>
          </form> 
          <form action="/registration">
            <button class="register header-btn" type="submit">REGISTER</button>
          </form>
        </div>
      <% } %>
      <% if (isAuth) { %> 
        <div class="right-header">
          <form action="/account" method="GET">
            <button class="sign-in header-btn" type="submit">ACCOUNT</button>
          </form>
          <form action="/logout" method="POST">
            <button class="register header-btn" type="submit">SIGN OUT</button>
          </form> 
        </div>
      <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="large-tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
    <div class="small-tabs-bar">
      <div class="small-tabs-button">
        <i class="fa-solid fa fa-bars fa-xl" onclick="displayMenu();"></i>
      </div>
      <div class="small-logo">
        <p>RG</p>
      </div>
    </div>
  </div>
  </div>
  <div class="betstats" style="text-align: center;">
    <% if (betCategory == "none") { %> 
      <div style="font-size: 25px; margin-top: 10px;" >No Bet Has Been Made</div>
    <% } %> 
    <table class="center bet-info-table" style="margin-top: 20px;">
        <tr class="table-head">
            <th>Driver Name</th>
            <th>% of Bets</th>
            <th>Bet Amount</th>
            <th>% of Pool</th>
        </tr>
        <% if (betCategory == "drivers") { %> 
          <% for (let key in drivers) { %> 
            <tr class="table-row">
                <td><%- key %> </td>
                <td><meter class="percent-bar" min="0" max="1" value='<%= (drivers[key]/totalBets)%>'> <%- ((drivers[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((drivers[key]/totalBets) * 100).toFixed(2) %>% </td>
                <td>$<%- amount[key] %> </td>
                <td><meter class="percent-bar" min="0" max="1" value='<%= (amount[key]/betAmount)%>'> <%- ((amount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((amount[key]/betAmount) * 100).toFixed(2) %> % </td>
            </tr>
          <% } %> 
        <% } else if (betCategory == "yesno") { %>
          <% for (let key in yesno) { %> 
            <tr class="table-row">
              <td><%- key %> </td>
              <td><meter class="percent-bar" min="0" max="1" value='<%= (yesno[key]/totalBets)%>'> <%- ((yesno[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((yesno[key]/totalBets) * 100).toFixed(2) %>% </td>
              <td>$<%- yesnoAmount[key] %> </td>
              <td><meter class="percent-bar" min="0" max="1" value='<%= (yesnoAmount[key]/betAmount)%>'> <%- ((yesnoAmount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((yesnoAmount[key]/betAmount) * 100).toFixed(2) %> % </td>
            </tr>
          <% } %> 
        <% } else if (betCategory == "pitstops") { %>
          <% for (let key in pitstops) { %> 
          <tr class="table-row">
            <td><%- key %> </td>
            <td><meter class="percent-bar" min="0" max="1" value='<%= (pitstops[key]/totalBets)%>'> <%- ((pitstops[key]/totalBets) * 100).toFixed(3) %> </meter> <%- ((pitstops[key]/totalBets) * 100).toFixed(2) %>% </td>
            <td>$<%- pitstops[key] %> </td>
            <td><meter class="percent-bar" min="0" max="1" value='<%= (pitstopsAmount[key]/betAmount)%>'> <%- ((pitstopsAmount[key]/betAmount) * 100).toFixed(2) %> </meter> <%- ((pitstopsAmount[key]/betAmount) * 100).toFixed(2) %> % </td>
          </tr>
          <% } %> 
        <% } %>  
    </table>
  </div>
</body>
</html>