<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Home</title>
    <script>
              var keys = {37: 1, 38: 1, 39: 1, 40: 1};

        function preventDefault(e) {
            e.preventDefault();
        }

        function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
            preventDefault(e);
            return false;
            }
        }

        // modern Chrome requires { passive: false } when adding event
        var supportsPassive = false;
        try {
            window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
            get: function () { supportsPassive = true; } 
            }));
        } catch(e) {}

        var wheelOpt = supportsPassive ? { passive: false } : false;
        var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

        // call this to Disable
        function disableScroll() {
            window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
            window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
            window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
            window.addEventListener('keydown', preventDefaultForScrollKeys, false);
        }

        // call this to Enable
        function enableScroll() {
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
            window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
            window.removeEventListener('touchmove', preventDefault, wheelOpt);
            window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
        }
      function getIdColor(team){
        const badge = document.getElementById('badge')
        const badge2 = document.getElementById('badge2')
        const color = {
          "redbull": "navy",
          "ferrari": "red",
          "mercedes": "lightgray",
          "mclaren": "orange",
          "alpine": "skyblue",
          "aston": "green",
          "haas": "black",
          "williams": "blue",
          "alpha": "darkblue",
          "alfa": "darkred"
        }
        badge.style.cssText = `background: linear-gradient(${color[`${team}`]} 60%, white 40%)`
        badge2.style.cssText = `background: linear-gradient(${color[`${team}`]} 60%, white 40%)`
      }
      function timeFunction(lockTime){
        console.log(lockTime)
        const interval = setInterval(function() {
            const day = document.getElementById('day')
            const hour = document.getElementById('hour')
            const minute = document.getElementById('minute')
            const second = document.getElementById('second')
            var countDownDate = new Date(lockTime).getTime();
            var now = new Date().getTime();
            var timeleft = countDownDate - now;
            var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

            document.getElementById("day").innerHTML = days
            document.getElementById("hour").innerHTML = hours
            document.getElementById("minute").innerHTML = minutes
            document.getElementById("second").innerHTML = seconds
            }, 1000);
      }

      var menuVis = false;

      function displayMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'block'
        menuVis = true;
        disableScroll();
      }

      function exitMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'none'
        menuVis = false;
        enableScroll();
      }

      addEventListener("click", (e) => {
        let target = e.target
        if (menuVis && target.id == 'side-menu-underlay'){
          let overlay = document.getElementById('side-menu-underlay')
          overlay.style.display = 'none'
          menuVis = false;
          enableScroll();
        }
      })

    </script>
</head>
<% if (isAuth) { %>
  <body onload="getIdColor(`<%- user[0].Team %>`); timeFunction(`<%- lockTime.time %>`);">
<% } else { %>  
  <body onload="timeFunction(`<%- lockTime.time %>`);">
<% } %> 
  <div id="side-menu-underlay">
    <div class="side-menu">
      <div class="menu-bar">
        <h1 class="menu-logo">Race Gambit</h1>
        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #ffadad" onclick="exitMenu();"></i>
      </div>
      <% if (!isAuth) { %>
        <form action="/login" class="form-width">
          <button type="submit" class="sign-in side-menu-button">SIGN IN</button>
        </form>
        <form action="/registration" class="form-width">
          <button type="submit" class="register side-menu-button">REGISTER</button>
        </form>
      <% } else if (isAuth) { %>
        <div class="side-user-info" id="badge2" style='background: linear-gradient( white 60%, white 40%);'>
          <div class="badge-words badge-section">
            <p style="font-size: 24px; font-weight: bold;"><%- user[0].FirstName %> <%- user[0].LastName %></p>
            <p style="font-weight: bold;"><%- user[0].Job %></p>
            <p style="font-size: 15px;">Balance: $<%- user[0].Balance %> </p>
            <p style="font-size: 12px;">Birth: <%- user[0].Birth  %> </p>
          </div>
          <div class="badge-section">
            <img src="/images/<%- user[0].Team  %>.jpeg" alt="redbulll logo" width="160px" height="85px">
          </div>
        </div>
        <div class="menu-items">
          <div class="menu-item" onclick="location.href='/bets/Placement';">
            <p href="">PLACEMENT</p>
            <i class="fa-solid fa-flag-checkered"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Qualification';">
            <p href="">QUALIFICATION</p>
            <i class="fa-solid fa-stopwatch"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/5050';">
            <p href="">YES/NO</p>
            <i class="fa-solid fa-dice"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Pitstops';">
            <p href="">PIT STOPS</p>
            <i class="fa-solid fa-gears"></i>
          </div>
          <div class="menu-item" onclick="location.href='/leagues';">
            <p href="">MY LEAGUES</p>
            <i class="fa-solid fa-user-group"></i>
          </div>
        </div>
        <form action="/logout" class="form-width" method="post">
          <button type="submit" class="register side-menu-button">SIGN OUT</button>
        </form>
      <% } %>
    </div>
  </div>
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
      <div class="right-header">
        <form action="/login">
          <button class="sign-in header-btn" type="submit">SIGN IN</button>
        </form> 
        <form action="/registration">
          <button class="register header-btn" type="submit">REGISTER</button>
        </form>
      </div>
    <% } %>
    <% if (isAuth) { %> 
      <div class="right-header">
        <form action="/account" method="GET">
          <button class="sign-in header-btn" type="submit">ACCOUNT</button>
        </form>
        <form action="/logout" method="POST">
          <button class="register header-btn" type="submit">SIGN OUT</button>
        </form> 
      </div>
    <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="large-tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
    <div class="small-tabs-bar">
      <div class="small-tabs-button">
        <i class="fa-solid fa fa-bars fa-xl" onclick="displayMenu();"></i>
      </div>
      <div class="small-logo">
        <p>RG</p>
      </div>
    </div>
  </div>
  <div class="big-countdown-bar">
    <p class="time-word">Time Until <%- lockTime.category %> Bet Lock In: </p>
    <p class="colon">Bet Lock In: </p>
      <div class="number-box" id="day"></div>
    <div class="time-word">DAYS</div>
    <div class="colon">:</div>
      <div class="number-box" id="hour"></div>
    <div class="time-word">HOURS</div>
    <div class="colon">:</div>
      <div class="number-box" id="minute"></div>
    <div class="time-word">MINUTES</div>
    <div class="colon">:</div>
      <div class="number-box" id="second"></div>
    <div class="time-word">SECONDS</div>
  </div>
  <div class="race-info">
    <div class="container">
      <div class="upcoming-race" style="background-image: url(/images/<%= matterRace.previousRace.race %>.jpeg); background-size: cover;">
        <div class="overlay">
          <div class="title-box">
            <h1>Previous Race:</h1>
            <h1 class="race-name"><%- matterRace.previousRace.name %></h1>
            <div class="date-box">
              <h2><%- matterRace.previousRace.date %> </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="next-races" style="background-image: url(/images/<%= matterRace.nextRace.race %>.jpeg); background-size: cover;">
        <div class="overlay">
          <div class="title-box">
            <h1>Next Race:</h1>
            <h1 class="race-name"><%- matterRace.nextRace.name %> </h1>
            <div class="date-box">
              <h2><%- matterRace.nextRace.date %> </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (isAuth) { %> 
    <div class="landing-page-body">
      <div class="id-badge" id="badge" style='background: linear-gradient( white 60%, white 40%);'>
        <div class="hole"></div>
        <div class="badge-words">
          <p style="font-size: 30px; font-weight: bold;"><%- user[0].FirstName %> <%- user[0].LastName %></p>
          <p style="font-weight: bold;"><%- user[0].Job %></p>
          <p style="font-size: 20px;">Balance: $<%- user[0].Balance %> </p>
          <p style="font-size: 20px;">Birth: <%- user[0].Birth  %> </p>
        </div>
          <img src="/images/<%- user[0].Team  %>.jpeg" alt="redbulll logo" width="300px" height="170px">
      </div>
    </div>
  <% } %> 
</body>
</html>