<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>My Leagues</title>
    <script>
      function getIdColor(team){
        const badge = document.getElementById('badge')
        const color = {
          "redbull": "navy",
          "ferrari": "red",
          "mercedes": "lightgray",
          "mclaren": "orange",
          "alpine": "skyblue",
          "aston": "green",
          "haas": "black",
          "williams": "blue",
          "alpha": "darkblue",
          "alfa": "darkred"
        }
        badge.style.cssText = `background: linear-gradient( ${color[`${team}`]} 60%, transparent 40%)`
      }
      function timeFunction(){
        console.log("hello")
        const interval = setInterval(function() {
            const day = document.getElementById('day')
            const hour = document.getElementById('hour')
            const minute = document.getElementById('minute')
            const second = document.getElementById('second')
            var countDownDate = new Date("Mar 5, 2023 00:00:00").getTime();
            var now = new Date().getTime();
            var timeleft = countDownDate - now;
            var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

            document.getElementById("day").innerHTML = days
            document.getElementById("hour").innerHTML = hours
            document.getElementById("minute").innerHTML = minutes
            document.getElementById("second").innerHTML = seconds
            }, 1000);
      }
    </script>
</head>
<% if (isAuth) { %>
  <body onload="getIdColor(`<%- user[0].Team %>`); timeFunction();">
<% } else { %>  
  <body>
<% } %> 
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
      <div class="right-header">
        <form action="/login">
          <button class="sign-in header-btn" type="submit">SIGN IN</button>
        </form> 
        <form action="/registration">
          <button class="register header-btn" type="submit">REGISTER</button>
        </form>
      </div>
    <% } %>
    <% if (isAuth) { %> 
      <div class="right-header">
        <form action="/account" method="GET">
          <button class="sign-in header-btn" type="submit">ACCOUNT</button>
        </form>
        <form action="/logout" method="POST">
          <button class="register header-btn" type="submit">SIGN OUT</button>
        </form> 
      </div>
    <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
  </div>
  <div class="countdown-bar">
    <p>Time Until Race Bet Lock In: </p>
      <div class="number-box" id="day">1</div>
    <div>DAYS</div>
      <div class="number-box" id="hour">0</div>
    <div>HOURS</div>
      <div class="number-box" id="minute">1</div>
    <div>MINUTES</div>
      <div class="number-box" id="second">5</div>
    <div>SECONDS</div>
  </div>
  <% if (isAuth) { %> 
    <div class="landing-page-body">
      <div class="id-badge" id="badge" style='background: linear-gradient( navy 60%, transparent 40%);'>
        <div class="hole"></div>
        <div class="badge-words">
          <p style="font-size: 30px; font-weight: bold;"><%- user[0].FirstName %> <%- user[0].LastName %></p>
          <p style="font-weight: bold;"><%- user[0].Job %></p>
          <p style="font-size: 20px;">Balance: $<%- user[0].Balance %> </p>
          <p style="font-size: 20px;">Birth: <%- user[0].Birth  %> </p>
        </div>
          <img src="/images/<%- user[0].Team  %>.jpeg" alt="redbulll logo" width="300px" height="170px">
      </div>
    </div>
  <% } %> 
</body>
</html>