<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>League Overview</title>
    <%- include('partials/head') %>
    <%- include('partials/table_search_js') %>
    <script>
        function getUserBets(user_id){
        window.location.href = `https://racegambit.com/UserInfo/${user_id}`;
      }
    </script>
</head>
<body>
    <%- include('partials/header_layout') %>
    <div>
        <h1 style="text-align: center;"><%- leagueName %></h1>
    </div>
    <div class='bet-box'>
        <div class="mobile-only">
            <label for="betSearch">Search User:</label>
            <select id="betSearch" onchange="scrollToBet();">
              <option value="" selected disabled>Select User</option>
              <% for (let i = 0; i < name.length; i++) { %>
                <option value="bet-row-<%- i %>"><%- name[i].FirstName %> <%- name[i].LastName %></option>
              <% } %>
            </select>
        </div>
        <table class="center bet-table">
            <tr class="table-head" id="table-head">
                <th style="width: 5%;">Placement</th>
                <th style="width: 20%;">First Name</th>
                <th style="width: 20%;">Last Name</th>
                <th style="width: 30%;">Title</th>
                <th>Balance</th>
            </tr>
            <% if (name.length > 0) { %>
                <% for (let i = 0; i < name.length; i++) { %>
                    <tr class="table-row bet-row" id="bet-row-<%- i %>" onclick="getUserBets(`<%- name[i].user_id %>`);">
                        <td data-label="No."><%- i + 1 %> </td>
                        <td data-label="First Name"><%- name[i].FirstName %> </td>
                        <td data-label="Last Name"><%- name[i].LastName %> </td>
                        <td data-label="Occupation"><%- name[i].Job %> </td>
                        <td data-label="Balance">$<%- name[i].Balance %> </td>
                    </tr>
                <% } %> 
            <% } %> 
        </table>
        
    </div>
</body>
</html>