<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>My Leagues</title>
    <%- include('partials/head') %>
    <script>
        function leaguePage(leagueId, leagueName){
            fetch('/Leagues/LeagueInfo', {
            method: 'POST',
            body: JSON.stringify({ leagueId, leagueName }),
            headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(function(err) {
            console.info(err + " url: " + url);
            });
        }

        var leagueResult; 

        function joinLeague(){
            const leagueName = document.getElementById('leagueSearch').value
            fetch('/Leagues/SearchLeague', {
              method: 'POST', 
              body: JSON.stringify({ leagueName }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then((data) => {
              if (!data){
                alert("League with that name does not exist")
              } else {
                const overlay = document.getElementById('league-overlay')
                overlay.style.display = 'flex';
                leagueResult = data[0];
              }
            })
        }

        function leaguePass(){
          const leaguePassword = document.getElementById('league-password').value
          if (leaguePassword == leagueResult.LeaguePassword){
            fetch('Leagues/JoinLeague', {
              method: 'POST',
              body: JSON.stringify({ leagueResult, leaguePassword }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                  alert("You Are Already in This League")
                }
            })
          } else {
            alert('Incorrect League Password')
          }
        }

        window.onclick = e => {
            if (e.target.id == 'league-overlay'){
              const overlay = document.getElementById('league-overlay')
              overlay.style.display = 'none'
            }
        }  
    </script>
</head>
<body>
  <%- include('partials/header_layout') %>
  <div class="league-bar">
    <form action="/LeagueCreateForm" method="GET">
        <button class="league-btn">Create League</button>
    </form>
    <input type="text" name="leagueSearch" id="leagueSearch" placeholder="League Name" onsubmit="joinLeague()">
    <button class="league-btn" type="button" onclick="joinLeague()">Search Leagues</button>
  </div>
    <div class="index-box">
        <div class="league-list">
        <% if (leagues.length > 0) {  %> 
            <% for (let i = 0; i < leagues.length; i++) { %> 
            <button class="league-box" onclick="leaguePage(`<%- leagues[i].league_id %>`,`<%- leagues[i].LeagueName %>`)"> <%- leagues[i].LeagueName %> </button>
            <% } %> 
        <% } %> 
        </div>
    </div>
</body>
</html>