<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>Pit Stop Bets</title>
    <%- include('partials/head') %>
    <%- include('partials/table_search_js') %>
</head>
<body>
  <%- include('partials/header_layout') %>
  <div class="bet-box">
    <h1>Account Balance: $<%- balance %>  </h1>
    
    <% if(errorMessage){ %> 
      <div class="error-message"><%= errorMessage %></div>
    <% } %> 

    <% if(successMessage){ %> 
      <div class="success-message"><%= successMessage %></div>
    <% } %> 
    
    <%- include('partials/table_search') %>

    <table class="center bet-table">
        <tr class="table-head" id="table-head">
            <th style="width: 5%;">No.</th>
            <th style="width: 30%;">Driver Name</th>
            <th style="width: 15%;">Bet Category</th>
            <td>Bet Amount</td>
            <td>No. of Pit Stops</td>
            <th></th>
        </tr>
        <% for (let i = 0; i < bets.length; i++) { %> 
          <tr class="table-row bet-row" id="bet-row-<%- i %>">
                <td data-label="No." onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- i + 1 %> </td>
                <td data-label="Bet Name" onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].BetName %> </td>
                <td data-label="Bet Category" onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].Category %> </td>
                <% if (placedBets.indexOf(bets[i].bet_id) < 0) { %> 
                <form action="/Bets/PlaceBet/<%- bets[i].bet_id%>/<%- bets[i].Category %>" method="POST">
                <td data-label="Bet Amount"><input id="betAmount" name="betAmount" type="number" placeholder="amount" required></td>
                <td data-label="Bet Choice"><select id="driver" name="driver" class="bet-selection" required>
                    <option value="" disabled selected hidden>Select a Driver</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select></td>
                <td><button class="bet-btn" type="submit"">Bet</button></td>
                </form>
                <% } else { %> 
                <td data-label="Bet Amount">$<%- result[placedBets.indexOf(bets[i].bet_id)].BetAmount %></td>
                <td data-label="Bet Choice"><%- result[placedBets.indexOf(bets[i].bet_id)].BetChoice%></td>
                <td>Bet Already Placed</td>
                <% } %> 
            </tr>
        <% } %> 
    </table>
  </div>
</body>
</html>