<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>Placement Bets</title>
    <%- include('partials/head') %>
    <%- include('partials/table_search_js') %>

</head>
<body id="body">
  <%- include('partials/header_layout') %>

  <div class="bet-box">
    <h1>Account Balance: $<%- balance %>  </h1>
    
    <% if(errorMessage){ %> 
      <div class="error-message"><%= errorMessage %></div>
    <% } %> 

    <% if(successMessage){ %> 
      <div class="success-message"><%= successMessage %></div>
    <% } %> 

    <%- include('partials/table_search') %>
    <table class="center bet-table">
        <tr class="table-head" id="table-head">
            <th style="width: 5%;">No.</th>
            <th style="width: 30%;">Bet Name</th>
            <th style="width: 15%;">Bet Category</th>
            <td>Bet Amount</td>
            <td>Options</td>
            <th></th>
        </tr>
        <% for (let i = 0; i < bets.length; i++) { %> 
            <tr class="table-row bet-row" id="bet-row-<%- i %>">
                <td data-label="No." onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- i + 1 %> </td>
                <td data-label="Bet Name" onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].BetName %> </td>
                <td data-label="Bet Category" onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].Category %> </td>
                <% if (placedBets.indexOf(bets[i].bet_id) < 0) { %> 
                <form action="/Bets/PlaceBet/<%- bets[i].bet_id%>/<%- bets[i].Category %>" method="POST">
                <td data-label="Bet Amount"><input id="betAmount" name="betAmount" type="number" placeholder="amount" required></td>
                <td data-label="Options"><select id="driver" name="driver" class="bet-selection" required>
                    <option value="" disabled selected hidden>Select a Driver</option>
                    <option value="Max Verstappen">Max Verstappen</option>
                    <option value="Sergio Pérez">Sergio Perez</option>
                    <option value="Charles Leclerc">Charles Leclerc</option>
                    <option value="Carlos Sainz">Carlos Sainz</option>
                    <option value="Lewis Hamilton">Lewis Hamilton</option>
                    <option value="George Russell">George Russel</option>
                    <option value="Lando Norris">Lando Norris</option>
                    <option value="Oscar Piastri">Oscar Piastri</option>
                    <option value="Pierre Gasly">Pierre Gasly</option>
                    <option value="Esteban Ocon">Esteban Ocon</option>
                    <option value="Fernando Alonso">Fernando Alonso</option>
                    <option value="Lance Stroll">Lance Stroll</option>
                    <option value="Valteri Bottas">Valteri Bottas</option>
                    <option value="Zhou Guanyu">Zhou Guanyu</option>
                    <option value="Kevin Magnussen">Kevin Magnussen</option>
                    <option value="Nico Hülkenberg">Nico Hulkenberg</option>
                    <option value="Nick De Vries">Nick De Vries</option>
                    <option value="Yuki Tsunoda">Yuki Tsunoda</option>
                    <option value="Alex Albon">Alex Albon</option>
                    <option value="Logan Sargeant">Logan Sargeant</option>
                </select></td>
                <td><button class="bet-btn" type="submit"">Bet</button></td>
                </form>
                <% } else { %> 
                <td data-label="Bet Amount">$<%- result[placedBets.indexOf(bets[i].bet_id)].BetAmount %></td>
                <td data-label="Bet Choice"><%- result[placedBets.indexOf(bets[i].bet_id)].BetChoice%></td>
                <td>Bet Already Placed</td>
                <% } %> 
            </tr>
        <% } %> 
    </table>
  </div>
</body>
</html>