<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>
    <title>Placement Bets</title>
    <script>

        var keys = {37: 1, 38: 1, 39: 1, 40: 1};

        function preventDefault(e) {
            e.preventDefault();
        }

        function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
            preventDefault(e);
            return false;
            }
        }

        // modern Chrome requires { passive: false } when adding event
        var supportsPassive = false;
        try {
            window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
            get: function () { supportsPassive = true; } 
            }));
        } catch(e) {}

        var wheelOpt = supportsPassive ? { passive: false } : false;
        var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

        // call this to Disable
        function disableScroll() {
            window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
            window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
            window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
            window.addEventListener('keydown', preventDefaultForScrollKeys, false);
        }

        // call this to Enable
        function enableScroll() {
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
            window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
            window.removeEventListener('touchmove', preventDefault, wheelOpt);
            window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
        }
        function getBetStats(bet_id, betCategory){
            console.log(bet_id)
            console.log(betCategory)
            fetch('/Bets/BetInfo', {
                method: 'POST',
                body: JSON.stringify({bet_id, betCategory}),
                headers: {'Content-Type': 'application/json'}
            })
            .then((response) => {
                if (response.redirected){
                    window.location.href = response.url;
                }
            }).catch(function(err){
                console.info(err + " url" + url);
            });
        }

        var menuVis = false;
      function displayMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'block'
        menuVis = true;
        let body = document.getElementById('body')
        disableScroll();
      }

      function exitMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'none'
        menuVis = false;
        enableScroll();
      }

      addEventListener("click", (e) => {
        let target = e.target
        if (menuVis && target.id == 'side-menu-underlay'){
          let overlay = document.getElementById('side-menu-underlay')
          overlay.style.display = 'none'
          menuVis = false;
          enableScroll();
        }
      })

    </script>
</head>
<body id="body">
  <div id="side-menu-underlay">
    <div class="side-menu">
      <div class="menu-bar">
        <h1 class="menu-logo" onclick="location.href='/'">Race Gambit</h1>
        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #ffadad" onclick="exitMenu();"></i>
      </div>
      <% if (!isAuth) { %>
        <form action="/login" class="form-width">
          <button type="submit" class="sign-in side-menu-button">SIGN IN</button>
        </form>
        <form action="/registration" class="form-width">
          <button type="submit" class="register side-menu-button">REGISTER</button>
        </form>
      <% } else if (isAuth) { %>
        <div class="menu-items">
          <div class="menu-item" onclick="location.href='/bets/Placement';">
            <p href="">PLACEMENT</p>
            <i class="fa-solid fa-flag-checkered"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Qualification';">
            <p href="">QUALIFICATION</p>
            <i class="fa-solid fa-stopwatch"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/5050';">
            <p href="">YES/NO</p>
            <i class="fa-solid fa-dice"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Pitstops';">
            <p href="">PIT STOPS</p>
            <i class="fa-solid fa-gears"></i>
          </div>
          <div class="menu-item" onclick="location.href='/leagues';">
            <p href="">MY LEAGUES</p>
            <i class="fa-solid fa-user-group"></i>
          </div>
        </div>
        <form action="/logout" class="form-width" method="post">
          <button type="submit" class="register side-menu-button">SIGN OUT</button>
        </form>
        <div class="filler">
          &nbsp;
        </div>
      <% } %>
    </div>
  </div>
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
        <div class="right-header">
          <form action="/login">
            <button class="sign-in header-btn" type="submit">SIGN IN</button>
          </form> 
          <form action="/registration">
            <button class="register header-btn" type="submit">REGISTER</button>
          </form>
        </div>
      <% } %>
      <% if (isAuth) { %> 
        <div class="right-header">
          <form action="/account" method="GET">
            <button class="sign-in header-btn" type="submit">ACCOUNT</button>
          </form>
          <form action="/logout" method="POST">
            <button class="register header-btn" type="submit">SIGN OUT</button>
          </form> 
        </div>
      <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="large-tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
    <div class="small-tabs-bar">
      <div class="small-tabs-button">
        <i class="fa-solid fa fa-bars fa-xl" onclick="displayMenu();"></i>
      </div>
      <div class="small-logo">
        <p onclick="location.href='/'">RG</p>
      </div>
    </div>
  </div>
  <div class="bet-box">
    <h1>Account Balance: $<%- balance %>  </h1>
    
    <% if(errorMessage){ %> 
      <div class="error-message"><%= errorMessage %></div>
    <% } %> 

    <% if(successMessage){ %> 
      <div class="success-message"><%= successMessage %></div>
    <% } %> 

    <table class="center bet-table">
        <tr class="table-head">
            <th style="width: 5%;">No.</th>
            <th style="width: 30%;">Bet Name</th>
            <th style="width: 15%;">Bet Category</th>
            <td>Bet Amount</td>
            <td>Options</td>
            <th></th>
        </tr>
        <% for (let i = 0; i < bets.length; i++) { %> 
            <tr class="table-row">
                <td onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- i + 1 %> </td>
                <td onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].BetName %> </td>
                <td onclick="getBetStats(`<%- bets[i].bet_id %>`, `<%- bets[i].Category %>`);"><%- bets[i].Category %> </td>
                <% if (placedBets.indexOf(bets[i].bet_id) < 0) { %> 
                <form action="/Bets/PlaceBet/<%- bets[i].bet_id%>/<%- bets[i].Category %>" method="POST">
                <td><input id="betAmount" name="betAmount" type="number" placeholder="amount" required></td>
                <td><select id="driver" name="driver" class="bet-selection" required>
                    <option value="" disabled selected hidden>Select a Driver</option>
                    <option value="Max Verstappen">Max Verstappen</option>
                    <option value="Sergio Pérez">Sergio Perez</option>
                    <option value="Charles Leclerc">Charles Leclerc</option>
                    <option value="Carlos Sainz">Carlos Sainz</option>
                    <option value="Lewis Hamilton">Lewis Hamilton</option>
                    <option value="George Russell">George Russel</option>
                    <option value="Lando Norris">Lando Norris</option>
                    <option value="Oscar Piastri">Oscar Piastri</option>
                    <option value="Pierre Gasly">Pierre Gasly</option>
                    <option value="Esteban Ocon">Esteban Ocon</option>
                    <option value="Fernando Alonso">Fernando Alonso</option>
                    <option value="Lance Stroll">Lance Stroll</option>
                    <option value="Valteri Bottas">Valteri Bottas</option>
                    <option value="Zhou Guanyu">Zhou Guanyu</option>
                    <option value="Kevin Magnussen">Kevin Magnussen</option>
                    <option value="Nico Hülkenberg">Nico Hulkenberg</option>
                    <option value="Nick De Vries">Nick De Vries</option>
                    <option value="Yuki Tsunoda">Yuki Tsunoda</option>
                    <option value="Alex Albon">Alex Albon</option>
                    <option value="Logan Sargeant">Logan Sargeant</option>
                </select></td>
                <td><button class="bet-btn" type="submit"">Bet</button></td>
                </form>
                <% } else { %> 
                <td>$<%- result[placedBets.indexOf(bets[i].bet_id)].BetAmount %></td>
                <td><%- result[placedBets.indexOf(bets[i].bet_id)].BetChoice%></td>
                <td>Placed</td>
                <% } %> 
            </tr>
        <% } %> 
    </table>
  </div>
</body>
</html>