<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <title>UserInfo</title>
    <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header_layout') %>
  <div class="bet-box">
    <h1><%- user[0].FirstName %> <%- user[0].LastName %> </h1>
    <h2>Account Balance: $<%- user[0].Balance  %> </h2>
  
    <table class="center bet-table">
        <tr class="table-head" id="table-head">
            <th style="width: 5%;">No.</th>
            <th style="width: 30%;">Bet Name</th>
            <td>Bet Amount</td>
            <td>Bet Choice</td>
        </tr>
        <% if (bets.length > 0) { %> 
          <% for (let i = 0; i < bets.length; i++) { %> 
            <tr class="table-row">
              <td data-label="No."><%- i + 1 %></th>
              <td data-label="Bet Name"><%- bets[i].BetName %> </th>
              <td data-label="Bet Amount">$<%- bets[i].BetAmount %></th>
              <td data-label="Bet Choice"><%- bets[i].BetChoice %></th>
            </tr>
          <% } %> 
        <% } %> 
    </table>
  </div>
</body>
</html>